h1 {
    text-align: center;
    font-family: 'CoreCircus', sans-serif;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .image {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    }
  
  #card{
    background-size: cover;
    background-color: #4FECD3;
    background:linear-gradient(10deg, rgba(244,235,160,1) 43%,rgba(192,250,202,1) 50%);
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  #container{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top:2.5px;
    width: 280px;
    font-size: 15px;
  }
  
  #interesting-fact {
      font-style: italic;
      text-transform: capitalize;
      text-align: center;
  }
  
  span {
      font-weight: bold;
  }